.content= question.content
.tags.badges
  each tag in question.tags
    span.badge.badge-phill.badge-secondary= 태그
    | 
.row
  .col-sm
    .numbers.
      #[span.number.num-votes= question.numLikes] 좋아요,
      #[span.number.num-answers= question.numAnswers] 댓글,
      #[span.number.num-views= question.numReads] 읽은 수
  .col-sm
    .author
      | 공모전 게시 #{moment(question.createdAt).format('YYYY-MM-DD')}
      if question.author
        | 
        | by #[a(href=`/users/${question.author.id}`)= question.author.name] 
